body{
  background-color: #191970;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form{
  width: calc(100% - 40px); /* 100% - 2 * 20px de borda */
  height: calc(100% - 40px);
  background-color: #f8f8ff;
  border-radius: 10px;
  border: 20px solid #f8f8ff; /* Adiciona uma borda de 20px */
}
